@import "./SubSettingsView.css";

:root {
    --mscBgColor: lightblue;
    --weekRowColor: rgb(139, 92, 5);
    --bodyBgColor: chartreuse;
    --settingsBgColor: rgb(224, 73, 73);
    --dayBgColor: rosybrown;
}

body {
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: var(--bodyBgColor); */
    color: white;
    overflow: hidden;
    width: 100vw;
    display: flex;
    font-size: small;
}

.settings {
    /* background-color: var(--settingsBgColor); */
    width: 100vw;
    height: 100px;
    display: flex;
    flex-grow: 1;
}

/* .calWin {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    gap: 40px;
} */

.msc {
    display: grid;
    grid-template-columns: max-content();
    grid-template-rows: max-content();
    /* background-color: var(--mscBgColor); */
    width: 100vw;
    padding: 20px;
    color: black;
}

.weekRow {
    /* background-color: var(--weekRowColor); */
    /* background-color: red; */
    margin-top: 2px;
    display: grid;
    grid-template-columns: repeat(7, calc(100vw / 7));
    height: calc((100vh - 100px) / 5);
}

.day {
    /* background-color: var(--dayBgColor); */
    padding-left: 10px;
    padding-top: 5px;
}

.dayNum {
    /* background-color: rgb(112, 71, 21); */
    margin-bottom: 7px;
    margin-left: 7px;
}

.singleElem {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.oneLine {
    display: flex;
    gap: 20px;
}

.userList > div {
    display: inline;
    /* background-color: azure; */
    margin: 10px;
    width: 120px;
}

.loginPage {
    all: unset;
    /* background-color: white; */
}

.settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settingBtn {
    height: 70%;
    width: fit-content;
    padding: 10px;
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.firstSettingsElement {
    display: flex;
}
.firstSettingsElement > h1 {
    margin-right: 20px;
    margin-left: 20px;
}

.lastSettingsElement {
    margin-right: 20px;
}

.smallRow {
    display: flex;
    justify-content: space-between;
}

.smallRemoveButton {
    width: 15px;

    height: 15px;
    margin-right: 10px;
}
