@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&family=Kanit:wght@500&family=Titillium+Web:wght@400;600;700&display=swap");

:root {
    width: 100vw;
    height: 100vh;
}

body {
    /* background-color: rgb(191, 65, 65); */
    color: black;
    display: flex;
}

.Title {
    text-align: center;
    font-size: larger;
    font-family: "Kanit", sans-serif;
    /* background-color: blue; */
}

.MainHeader {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    padding-right: 30px;
    width: calc(100vw - 30px);
    height: 90px;
    background-color: transparent;
    align-items: center;
}

.headerBtn {
    font-size: 16px;
    font-family: "Kanit", sans-serif;
    /* background-color: aquamarine; */
    padding: 10px 21px 10px 21px;
    border: 2px solid black;
    border-radius: 10px;
}

.headerBtn:link,
.headerBtn:visited,
.headerBtn:hover,
.headerBtn:active {
    text-decoration: none;
    color: black;
}

.LPbtn {
    font-size: 16px;
    font-family: "Kanit", sans-serif;
    margin-top: 13px;
    background-color: transparent;
    padding: 10px 21px 10px 21px;
    border: 2px solid black;
    border-radius: 10px;
}
.underTitleContiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

h3 {
    margin-bottom: 10px;
}

.CheckBox {
    width: 20px;
    white-space: nowrap;
    /* background-color: red; */
    display: flex;
    margin-left: 37px;
    justify-content: right;
    align-items: center;
}

.CheckBox > input {
    margin-left: 5px;
}
