@import "./subSettings/EditUsersView.css";
@import "./subSettings/scheaduleView.css";
@import "./subSettings/AddPShiftView.css";
@import "./subSettings/AddOffView.css";
@import "./subSettings/MainSettingsView.css";

.subSetting {
    background-color: azure;
    border-radius: 20px;
    padding: 10px;

    position: absolute;
    top: 25%;
    left: 15%;
    width: 70vw;
    height: 50vh;
}

.subSettingHeader {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
