/* .settings {
    position: absolute;
    top: 0px;
    left: 0;
    background-color: bisque;
    width: 100vw;
} */

/* .calWin {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    gap: 40px;
} */

.msc {
    display: grid;
    grid-template-columns: max-content();
    grid-template-rows: repeat(7, 50px);
    background-color: lightblue;
    width: 100vw;
    padding: 20px;
    color: black;
}

.week {
    background-color: chocolate;
    margin-top: 2px;
    display: grid;
    grid-template-columns: repeat(7, 250px);
    height: 100px;
}
